url: null
name: RStudio_R_4.3.3_Seurat_5.0.3
startscript: |
  #!/bin/bash

  curl https://raw.githubusercontent.com/MonashBioinformaticsPlatform/rocker-ultra/main/rstudio.sh >~/.strudel2/rstudio.sh || true

  chmod +x ~/.strudel2/rstudio.sh

  IMAGE=https://bioinformatics.erc.monash.edu/references/singularity/rocker-seurat_4.3.3-5.0.3.sif ~/.strudel2/rstudio.sh
submitcmd: conda deactivate || true && conda deactivate || true && PYTHONPATH={{ s2path }}/forms /usr/bin/python3 {{ s2path }}/strudel2_cluster/submitform/submit_class.py desktop
instactions:
  - name: Connect
    paramscmd: cat ~/.rstudio-rocker/rserver-{jobid}.json
    client:
      cmd: null
      redir: ""
    states:
      - RUNNING
  - name: View log
    paramscmd: /usr/local/strudel2_cluster/latest/bin/wstool  cat
      "~/.strudel2*-{jobid}.out"
    client:
      cmd: null
      redir: ?token={token}
    states:
      - RUNNING
      - Finished
  - name: View Usage
    paramscmd: /usr/local/strudel2_cluster/latest/bin/wstool sacct -j {jobid}
    client:
      cmd: null
      redir: ?token={token}
    states:
      - Finished
  - name: Remove log
    paramscmd: rm ~/.strudel2-*{jobid}.out ; rm
      ~/.rstudio-rocker/rserver-{jobid}.json ; echo []
    client: null
    notunnel: true
    states:
      - Finished
localbind: true
applist: null
